@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Noto+Sans&family=Noto+Serif&display=swap');

:root {
    --background-color: #e0e5ec;
    --background-color-header: #f5f5f5;
    --background-color-sidbar: #f2f8ff;
    --background-color-card: #d8dde4;
    --background-color-addbook: #d0d1d4bb;
    --background-color-card-button: #e2eaf3;
    --background-color-card-button-hover: #272727;
    --background-color-form: #e0e5ec;
    --background-color-form-button-hover: #d9dce0;
    --text-color-header: #2a2a2a;
    --text-color-main: #2c2c2c;
    --text-color-sidbar_button: #363636;
    --text-color-card-button-hover: #1f1f1f;
    --box-shadow: 2px 4px 5px 0px #b2b2b299,0px -1px 7px 2px #f4f4f4;
    --box-shadow-card: 4px 4px 8px 3px #b2b2b299, -5px -5px 10px 4px #f4f4f4;
    --box-shadow-form: 4px 4px 20px 4px #bbbbbba6, 
    -4px -4px 20px 4px #a2a2a2a6;
    --box-shadow-form-button: 0px -1px 7px 2px #c0bfbf99,3px 4px 5px 1px #f4f4f4;
    --svg-color: invert(0);
}

html[data-theme='light'] {
    --background-color: #e0e5ec;
    --background-color-header: #f5f5f5;
    --background-color-sidbar: #f2f8ff;
    --background-color-card: #d8dde4;
    --background-color-addbook: #d0d1d4bb;
    --background-color-card-button: #e2eaf3;
    --background-color-card-button-hover: #d8dde4;
    --background-color-form: #e0e5ec;
    --background-color-form-button-hover: #d9dce0;
    --text-color-header: #2a2a2a;
    --text-color-main: #2c2c2c;
    --text-color-sidbar_button: #363636;
    --text-color-card-button-hover: #1f1f1f;
    --box-shadow: 2px 4px 5px 0px #b2b2b299,0px -1px 7px 2px #f4f4f4;
    --box-shadow-card: 4px 4px 8px 3px #b2b2b299, -5px -5px 10px 4px #f4f4f4;
    --box-shadow-form: 4px 4px 20px 4px #bbbbbba6, 
    -4px -4px 20px 4px #a2a2a2a6;
    --box-shadow-form-button: 0px -1px 7px 2px #c0bfbf99,3px 4px 5px 1px #f4f4f4;
    --svg-color: invert(0);
}

html[data-theme='dark'] {
    --background-color: #262729;
    --background-color-header: #1b1a1a;
    --background-color-sidbar: #000000;
    --background-color-card: #252525;
    --background-color-addbook: #313131bb;
    --background-color-card-button: #2e2e2e;
    --background-color-card-button-hover: #272727;
    --background-color-form: #141414;
    --background-color-form-button-hover: #181818;
    --text-color-header: #e4e4e4;
    --text-color-main: #cacaca;
    --text-color-sidbar_button: #b6b6b6;
    --text-color-card-button-hover: #dbdbdb;
    --box-shadow: 2px 4px 5px 0px #141414,0px -1px 7px 2px #373737b0;
    --box-shadow-card: 4px 4px 8px 3px #000000, -5px -5px 10px 4px #373737b0;
    --box-shadow-form: 4px 4px 20px 4px #494949a6, 
    -4px -4px 20px 4px #494949a6;
    --box-shadow-form-button: 3px 3px 6px 1px #000000, -3px -3px 6px 1px #373737b0;
    --svg-color: invert(1);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Noto Serif', serif;
}

h1 {
    background-color: var(--background-color-header);
    color: var(--text-color-header);
    font-family: 'Cinzel Decorative', cursive;
    font-size: 50px;
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 35px;
    z-index: 1;
}

#menu {
    display: none;
}

.middle {
    display: flex;
    height: auto;
    margin-top: 137px;
}

.side-bar {
    background-color: var(--background-color-sidbar);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 137px;
    bottom: 0;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-sidbar);
    height: 45px;
    width: 45px;
    padding: 0;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

#sun {
    filter: var(--svg-color);
    width: 20px;
}

.library-info {
    display: flex;
    flex-direction: column;
    color: var(--text-color-sidbar_button);
    width: 200px;
    margin-top: 30px;
    font-size: 20px;
}

.library-info p {
    display: flex;
    justify-content: space-between;
}

.library-info p:first-child {
    margin-bottom: 50px;
}

button {
    cursor: pointer;
}

#library-display {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    margin-left: 300px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
}

#library-display div {
    background-color: var(--background-color-card);
    box-shadow: var(--box-shadow-card);
    color: var(--text-color-main);
    margin: 40px 30px;
    width: 200px;
    height: 260px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#library-display div p {
    margin: 0;
    margin-left: 10px;
}

#library-display div div {
    box-shadow: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 30px;
}

#library-display #add-book {
    background-color: var(--background-color-addbook);
    border: none;
    box-shadow: var(--box-shadow-card);
    color: var(--text-color-main);
    order: 1;
    margin: 40px 30px;
    width: 200px;
    height: 260px;
    border-radius: 10px;
    font-size: 150px;
}

#library-display #add-book span {
    display: inline-block;
    width: 190px;
    transition: 1s 0s;
}

#library-display #add-book span:hover {
    transform: rotate(90deg);
    transition: 1s;
}

#library-display div p:first-child {
    margin-left: 0;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

#library-display div button {
    background-color: var(--background-color-card-button);
    color: var(--text-color-sidbar_button);
    border: none;
    width: 100px;
    height: 30px;
}

#library-display div button:first-child {
    border-radius: 0px 0px 0px 10px;
}
#library-display div button:last-child {
    border-radius: 0px 0px 10px 0px;
}

#library-display div button:hover {
    background-color: var(--background-color-card-button-hover);
    font-size: 15px;
    color: var(--text-color-card-button-hover);
}

form {
    display: none;
    flex-direction: column;
    background-color: var(--background-color-form);
    color: var(--text-color-main);
    justify-content: space-between;
    border-radius: 25px;
    position: fixed;
    top: 130px;
    right: 0;
    bottom: 0;
    left: 300px;
    margin: auto;
    width: 200px;
    height: 400px;
    padding: 30px;
    backdrop-filter: blur(3px);
    z-index: 1;
    box-shadow: var(--box-shadow-form);
}

input, select{
    border-radius: 3px;
    border: none;
    height: 25px;
    font-size: 16px;
}

form div input {
    width: 193px;
}

form .inline {
    display: inline-flex;
    justify-content: space-between;
}

form .inline input, form div select{
    width: 125px;
}

form h3 {
    margin: 0;
}

form button {
    margin-top: 20px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    align-self: center;
    border: none;
    background-color: var(--background-color-form);
    color: var(--text-color-main);
    box-shadow: var(--box-shadow-form-button);
}

form button:hover {
    background-color: var(--background-color-form-button-hover);
}

#blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    opacity: 1;
}

.valid-text {
    color: #af4848;
    margin: 0;
}

form span {
    display: none;
}

.side-bar .diveloper a {
    color: #8b8b8b7e;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

@media only screen and (max-width: 700px) {

    h1 {
        padding: 15px 0;
        font-size: 40px;
        display: flex;
        justify-content: space-between;
    }

    h1 span {
        margin-right: 30px;
    }

    #menu {
        display: inline;
        margin-left: 30px;
        cursor: pointer;
    }

    .side-bar{
        display: none;
        top: 85px;
        z-index: 1;
    }

    .active {
        display: flex;
    }

    .middle {
        margin-top: 110px;
    }
    
    #library-display {
        margin-left: 0;
        padding: 0;
    }

    #library-display div {
        margin: 30px 20px;
    }

    form {
        left: 0;
    }
}